{% extends 'NavRightFootTemplate.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container" style="padding-top: 50px">
  <main class="text-white">
    <div class="py-3">
      <h2>New question</h2>
    </div>

    <div class="row g-5">
      {% include "rightMenu.html" %}
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Ask!</button>
        </form>
      </div>
    </div>
  </main>
  </div>
{% endblock %}