<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark header">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'landing' %}">HeapOverflow</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex me-auto mb-1 container-fluid">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a class="btn btn-outline-info" type="submit" href="{% url 'ask' %}">Ask your own question</a>
        <div class="dropdown" style="margin: 0 80px 0 60px">
          {% if request.user.profile.avatar %}
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ request.user.profile.avatar.url }}" alt="Profile avatar" width="50" height="50" class="square">
          </a>
          {% else %}
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" alt="Profile avatar" width="50" height="50" class="square">
          </a>
          {% endif %}
            <ul class="dropdown-menu text-small" style="position: absolute; inset: 20px auto auto -10px; margin: 0; transform: translate3d(0px, 34.4px, 0px);" data-popper-placement="bottom-start">
            <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
              {% if is_auth%}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
</nav>