{% extends 'NavRightFootTemplate.html' %}
{% load static %}
{% block content %}
    <div class="text-light py-3 ps-5"  style="margin-top: 55px">
    {% block header %}
    {% endblock %}
    </div>
  <div class="album py-3">
  {% csrf_token %}
    <div class="row">
        <div class="col-8" style="margin-left: 20px">
              <div class="row row-cols-sm-2 g-3" style="margin-left: 5px">
                  {% for i in items %}
                      <div class="col">
                      <div class="card shadow-sm">
                        <a href="{% url 'question' i.item.id%}" class="question-heading h2 text-reset text-decoration-none">{{ i.item.title }}</a>
                        <div class="card-body">
                          <p class="card-text">{{ i.item.content }}</p>
                          <div class="d-flex justify-content-between align-items-center">

                          <div class="btn-group like-section">
                              <button type="button" class="btn btn-sm btn-outline-secondary" data-id="{{ i.item.id }}" style="margin-right: 7px">-</button>
                              <a>{{ i.likes }}</a>
                              <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left: 7px">+</button>
                            </div>
                            <a href="{% url 'question' i.item.id%}" class="link-secondary"> answers </a>
                            <p style="margin-bottom: 0">Tags: </p>
                              {% for  t in i.tags%}
                                <a class="link-secondary" href="{% url 'tag' t.id%}">{{ t.title }}</a>
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                      </div>
                  {% endfor %}
              </div>
        </div>
        <div class="col-3"> {% include "rightMenu.html" %} </div>
    </div>
  </div>



{% include 'paginator.html' %}
    <script src="{% static '/js/likes.js' %}">
        var csrftoken="{{ csrf_token }}";
    </script>
{% endblock %}