{% extends 'NavRightFootTemplate.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container" style="padding-top: 40px">
    <main class="text-white text-center">
        <div class="py-5">
            <h2>Log in</h2>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <form class="col needs-validation" method="post" action="/login/"> <!--novalidate -->
                {% csrf_token %}
                <div class="row g-3">
                    {% bootstrap_form form %}
                </div>

                <hr class="my-4">
                <div style="padding-bottom: 10px">
                    <span class="text-secondary text-start">you don't have an account?</span>
                    <a href="{% url 'signup' %}" class="text-decoration-none">create one!</a>
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Log in</button>
            </form>
            <div class="col-2"></div>
        </div>
    </main>

</div>
{% endblock %}

