<!doctype html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <title>HeapOverflow</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 bg-dark">
  <header>
        <!-- Fixed navbar -->
      {% include "header.html" %}
  </header>
<!-- Begin page content -->

  {% block content %}
    {% endblock %}


<!-- Footer -->
  {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
