<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center"> {# TODO пагинатор из bootstrap'a #}
    {% if answersAmount > 0 %}
        {% if prev > 0 %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?p={{ prev }}">Previous</a></li> {# TODO генерить ссылку во views #}
        {% else %}
            <li class="page-item"><a class="page-link text-dark" disabled>Previous</a></li>
        {% endif %}
        {% for i in pages %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?p={{ i }}">{{i}}</a></li>
        {% endfor %}

        {% if next <= max %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?p={{ next }}">Next</a></li>'
        {% else %}
            <li class="page-item"><a class="page-link text-dark" disabled>Next</a></li>
        {% endif %}
    {% else %}
        <div class="fst-italic">
            It's so silent here...
        </div>
    {% endif %}
  </ul>
</nav>