{% extends "NavRightFootTemplate.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container">
  <main class="text-white" style="padding-top: 100px">
    <div class="py-3" >
      <h2>{{ question.title }}</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
          <div class="card-body">
              <div class="row">
              <div class="btn-group-vertical col-2 col-md-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                  <p class="position-relative start-50 translate-middle" style="padding-top: 30px; padding-bottom: 0; margin-bottom: 0; ">{{ questionLikes }}</p>
                  <button type="button" class="btn btn-sm btn-outline-secondary">-</button>
              </div>
                  <p class="card-text col-8">{{ question.content }}</p>
              </div>
          </div>
          <hr class="my-4">
          {% for i in items %}
              <div class="card shadow-sm text-dark" style="margin-bottom: 10px">
                <div class="card-body">
                  <p class="card-text">{{ i.item.content }}</p>
                  <div class="d-flex justify-content-between align-items-center">

                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-right: 7px">-</button>
                      <a>{{ i.likes }}</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left: 7px">+</button>
                  </div>

                  <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                    <label class="form-check-label" for="validationFormCheck1">Correct!</label>
                    <div class="invalid-feedback">Example invalid feedback text</div>
                  </div>
                </div>
                </div>
              </div>
          {% endfor %}
      <div style="padding-top: 20px">
        {% include 'paginator.html' %}
      </div>
      {% if is_auth %}
      <hr class="my-4">
        <form class="needs-validation" style="padding-top: 20px" method="post">
            <div id="token">{% csrf_token %}</div>

            {% bootstrap_form form %}

          <button class="w-100 btn btn-primary btn-lg" type="submit" style="margin-top: 20px">Answer</button>
        </form>
      {% endif %}
      </div>
      <div class="col-3"> {% include "rightMenu.html" %} </div>
    </div>

  </main>
  </div>
{% endblock %}