{% extends 'NavRightFootTemplate.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container" style="padding-top: 40px">
  <main class="text-white">
    <div class="py-5">
      <h2>Registration</h2>
    </div>

    <div class="row g-5">
      {% include "rightMenu.html" %}
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" method="post">
            {% csrf_token %}
          <div class="row g-3">
            <!--<div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
              <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="password" class="form-label">Enter password</label>
              <input type="password" class="form-control" id="password" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid password is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="passwordRepeat" class="form-label">Repeat password</label>
              <input type="password" class="form-control" id="passwordRepeat" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid password is required.
              </div>
            </div>
            <div class="col-sm-6">
                <label for="inputGroupFile" class="form-label">Upload avatar</label>
                <div class="input-group">
                  <input type="file" class="form-control" id="inputGroupFile" aria-describedby="inputGroupFileAddon" aria-label="Upload">
                </div>
            </div>
          </div>-->


            {% bootstrap_form form %}
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
  </div>
{% endblock %}