<div class="col  order-md-last">
        <div class="accordion">
            <div class="accordion-item">
                <h4 class="accordion-header d-flex justify-content-between align-items-center mb-3" id="headingOne">
                  <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">Tags</button>
                </h4>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <ul class="list-group mb-3 gap-2 list-group-horizontal" style="flex-wrap: wrap;">
                        {% for tag in tags %}
                          <li class="list-group-item d-flex rounded-pill text-inline">
                            <a href="{% url 'tag' tag.id%}" class="text-decoration-none text-dark"> {{  tag.title }} </a>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header d-flex justify-content-between align-items-center mb-3" id="headingSec">
                  <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSec" aria-expanded="false" aria-controls="panelsStayOpen-collapseSec">Best members</button>
                </h4>
                <div id="collapseSec" class="accordion-collapse collapse" aria-labelledby="headingSec" data-bs-parent="#accordionExample">
                    <ul class="list-group mb-3 gap-2">
                        {% for u in bestUsers %}
                          <li class="list-group-item d-flex lh-sm rounded-pill line-block">
                            {{ u.user.username }}
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</div>


